<!DOCTYPE html>
<html>
<head>
	<title> Restaurant Visualization </title>
	<style type = “text/css”>
		canvas {border: 2px solid black;}
	</style>
</head>

<body onload="drawViz()">

<canvas id="myCanvas"></canvas>

<form action="demo_form.asp" method="get">
Distance: <input type="range" name="distValue" id = "distValue" min="1" max="5">
Price: <input type="range" name="priceValue" id = "priceValue" min="1" max="5">
Phrase: <input type="range" name="phraseValue" id = "phraseValue" min="1" max="5">
<button type="button" onclick="drawViz();"> Update Visual</button>
</form>


<script>
function draw() {
var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");

ctx.canvas.width  = 800;
ctx.canvas.height = 400;
var myText= "test me";
ctx.font = "12px sans-serif";

var seedName = {{seedName|safe}};
var restaurantList = {{resultList|safe}};
var padding = 50;
var centerHeight = ctx.canvas.height-padding;
var centerWidth = ctx.canvas.width/2;

var restA = {name : "Chinese Wonder", degree : 10};
var restB = {name : "Kebab Yum", degree : 50};
var restC = {name : "Burger Heaven", degree : 100};
var restD = {name : "Pizza Monster", degree : 25};

var restList = [restA,restB,restC,restD];

for (var i=0;i<restaurantList.length;i++)
{ 

var distWeight = document.getElementById('distValue').value;
var priceWeight = document.getElementById('priceValue').value;
var phraseWeight = document.getElementById('phraseValue').value;
var algoHeight = restaurantList[i]["priceScore"] * priceWeight * 10;
algoHeight = algoHeight  + restaurantList[i]["catScore"] * phraseWeight * 10;
algoHeight = algoHeight  + restaurantList[i]["distScore"] * distWeight * 5;
var maxWidth = padding + ((ctx.canvas.width-padding*2)/(restaurantList.length-1))*i;
var maxHeight = ctx.canvas.height-padding;
var elemHeight = 50 + algoHeight;

ctx.moveTo(centerWidth,centerHeight);
ctx.lineTo(maxWidth, elemHeight);
ctx.stroke();
ctx.fillText(restaurantList[i]["name"], maxWidth-25, elemHeight);
}

ctx.fillText(seedName, centerWidth-25, centerHeight+10);
}

function clearCanvas () {
var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
ctx.clearRect (0, 0, ctx.canvas.width, ctx.canvas.height);
}

function drawViz() {
clearCanvas()
draw()
}


</script>


</body>
</html>
