<!DOCTYPE html>
<html>
<head>
	<title> Restaurant Visualization </title>
	<style>
		#myCanvas {border: 2px solid black;}

		#locationDiv {
			border : 2px solid black;
			border-top:	none;
			width : 800px;
			height : 450px;
		}

		#restSearchDiv {
			border : 2px solid black;
			border-top:	none;
			width : 800px;
			min-height : 100px;
			height : auto;
		}

		div.expandBanner { 
			border : 2px solid black;
			background-color: WHITE; 
			width: 800px; 
			height : 30px;
			line-height: 30px;
			text-align: left; 
			display: inline-block;	
		}

		div.searchResult { 
			border : 1px solid grey;
			background-color: WHITE; 
			border-top: none;
			border-left : none;
			border-right : none;
			width: 800px; 
			height : 30px;
			line-height: 30px;
			text-align: left; 
			display: inline-block;	
		}

		centerText {
			display: inline-block;
			vertical-align: middle;    
		}

		#mapCanvas{
			height : 400px;
			width: 400px;
		}

	</style>
</head>

<body onload="__init__()">

<h1>Restaurant Visualization Tool</h1>
<hr>

<canvas id="myCanvas"></canvas>

<form action="demo_form.asp" method="get">
Distance: <input type="range" name="distValue" id = "distValue" min="1" max="5">
Price: <input type="range" name="priceValue" id = "priceValue" min="1" max="5">
Phrase: <input type="range" name="phraseValue" id = "phraseValue" min="1" max="5">
<button type="button" onclick="drawViz();"> Update Visual</button>
</form>
<p> Powered By <font color =#0cbadf>FourSquare</font> </p>
<hr>

<div id="locationBanner" class = "expandBanner">
	<centerText> Seed Location (<locDis id = "LocDisplay"> Hide </locDis>)</centerText>
</div>

<div id="locationDiv">
	<input type="text" id = "userLoc"/> {% csrf_token %}
	<button id="updateLoc"> Update Location</button>
	<locString id = "locString"> aa </locString>
	<div id = "mapCanvas"> </div> 
</div>

<br><br>

<div id="restSearchBanner" class = "expandBanner">
	<centerText> Seed Restaurant (<locDis id = "restSearchDisplay"> Hide </locDis>)</centerText>
</div>

<div id = "restSearchDiv">
	<input type="text" id = "userRestSearchStr"/> {% csrf_token %}
	<input type="text" id = "userRestSearchLoc"/> 
	<button id="updateRestSearch">	Search for New Restaurant Seed</button>
	<div id ="restSearchResults">
	</div>
</div>

<p> This is a simple web application that uses a seed restaurant (Currently hard coded as Xi'an Famous Foods, NYC St. Marks) and location to find other similar restaurants.  The slide tools allow the user to alter the recommendation algorithm on the fly, by changing how much weight to put on each characteristic. </p>

<p> 
The search algorithm is relatively simple, with FourSquare doing much of the heavy lifting.  It first loads the seed restaurant's venue and stores its tags (if no tags exist then the restaurant’s category will be used instead).  It then calls the venue explore endpoint (limit 10 results) and query's each of the tags, building a list of unique restaurants.  </p>

Each restaurant is then scored by the following:
<ul>
<li>Distance From Location.  Score 1-5 (5 = less then 0.25 miles away, 1 = greater then 2 miles away)</li>
<li>Difference in Price Tier.  Score 0-3 (0 = same price tier, 3 = Max Dif between price tiers)</li>
<li>Phrase Matches.  Score 5-unlimited (Number of times the restaurant appeared when querying the seed restaurant's tags *5)</li>
</ul>	
</p>

<p>These scores are then added together and the top 10 (or less) restaurants are displayed in the web app.  It is important to note that many phrase matches is the best way to get into the final 10.  Once in the web app javascript draws the results on the canvas based on the user's slide input. </p>

<a href="https://github.com/sbuckfelder/RestaurantViz">Code</a> on GitHub

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDopSOyAm4b523nUMdTs3NU-YHrFWwZbYw&sensor=false">
</script>

<script>
SEED_FSID = "";
SEED_RESTAURANT = "";
REST_LIST = [];
LOCATION = {};
LOC_SHOW = true;
REST_SEARCH_SHOW = true;

var locBanner = document.getElementById('locationBanner');
var restSearchBanner = document.getElementById('restSearchBanner');
var googleMap = new google.maps.Map(document.getElementById("mapCanvas"));


locBanner.onclick = function() {
	if (LOC_SHOW == true) {
		document.getElementById('LocDisplay').innerHTML = " Show ";
		$("#locationDiv").hide();
		LOC_SHOW = false;
	}
	else {
		document.getElementById('LocDisplay').innerHTML = " Hide ";
		$("#locationDiv").show();
		LOC_SHOW = true;
		setLocDiv();

	}
}

restSearchBanner.onclick = function() {
	if (REST_SEARCH_SHOW == true) {
		document.getElementById('restSearchDisplay').innerHTML = " Show ";
		$("#restSearchDiv").hide();
		REST_SEARCH_SHOW = false;
	}
	else {
		document.getElementById('restSearchDisplay').innerHTML = " Hide ";
		$("#restSearchDiv").show();
		REST_SEARCH_SHOW = true;
	}
}

$(document).ready(function(){
  $("#updateLoc").click(function(){
  	clearCanvas();
	var userloc = $("#userLoc").val();
	$.ajax({
		url : "RestaurantViz",
		type : "POST",
		dataType : "json",
		data : {user_location : userloc,
				seedID : SEED_FSID,
			csrfmiddlewaretoken : '{{ csrf_token }}'},
		success : function(json) {
			SEED_RESTAURANT = json.seedName;
			REST_LIST = json.resultList;
			LOCATION = json.location;
			setLocDiv();
			draw();
		},
		error : function(xhr,errmsg,err) {
			alert(err);
		}
		});
		return false;
	});

  $("#updateRestSearch").click(function(){
	var userSearchStr = $("#userRestSearchStr").val();
	var userSearchLoc = $("#userRestSearchLoc").val();
	$.ajax({
		url : "RestaurantViz",
		type : "POST",
		dataType : "json",
		data : {restSearch : userSearchStr,
				restSearchLoc : userSearchLoc,
				csrfmiddlewaretoken : '{{ csrf_token }}'},
		success : function(json) {
			searchResults = json.searchResults;
			updateSearchResults(searchResults);
		},
		error : function(xhr,errmsg,err) {
			alert(err);
		}
		});
		return false;
	});



});

function __init__() {
	SEED_RESTAURANT = {{seedName|safe}};
	SEED_FSID = {{seedID|safe}};
	REST_LIST = {{resultList|safe}};
	LOCATION = {{location|safe}};
	draw();
	locBanner.click();
	setLocDiv();
	restSearchBanner.click();
}

function updateSearchResults(resultList) {
	var startDiv = document.getElementById('restSearchResults');
	if (document.getElementById('tempDiv')) { 
		startDiv.removeChild(document.getElementById('tempDiv'));
	}
	var tempDiv = document.createElement('div');
	tempDiv.setAttribute('id', 'tempDiv');
	var headerDiv = document.createElement('div');
	headerDiv.innerHTML = 'You have ' + resultList.length + ' results.  Click on restaurant to update seed.';
	tempDiv.appendChild(headerDiv)
	for (var i =0; i<resultList.length; i++) {
		var newDiv = getResultDiv(resultList[i], 'result' + i);
		tempDiv.appendChild(newDiv);
	}
	startDiv.appendChild(tempDiv);
}

function getResultDiv(result, divName) { 
	var newDiv = document.createElement('div');
	newDiv.setAttribute('id', divName);
	newDiv.setAttribute('class', 'searchResult');
	var callText = "setSeedRestaurant(" + result['idFS'] + ")" ;
	newDiv.onclick =  function() {setSeedRestaurant(result['idFS']);};
	newDiv.innerHTML = '     ' + result['name'] + '   (' + result['address'] + ')';
	return newDiv;
}

function setSeedRestaurant(fourSquareID){
	clearCanvas();
	$.ajax({
		url : "RestaurantViz",
		type : "POST",
		dataType : "json",
		data : {updateRest : fourSquareID,
				userLoc : LOCATION['ll'],
			csrfmiddlewaretoken : '{{ csrf_token }}'},
		success : function(json) {
			SEED_RESTAURANT = json.seedName;
			SEED_FSID = json.seedID;
			REST_LIST = json.resultList;
			LOCATION = json.location;
			setLocDiv();
			draw();
		},
		error : function(xhr,errmsg,err) {
			alert(err);
		}
	});
	return false;
}

function init_map(){
	var mapCenter = new google.maps.LatLng(LOCATION['lat'], LOCATION['lng']);
	var mapParams = {
			center : mapCenter,
			zoom : 12
	};
	
	googleMap.setOptions(mapParams);
	var marker = new google.maps.Marker({
		position : mapCenter,
		map : googleMap,
		title : 'Test'
	});
	google.maps.event.trigger(googleMap, 'resize');
	googleMap.setCenter(mapCenter);
}

function setLocDiv() { 
	document.getElementById('locString').innerHTML = 'Seed Address = ' + LOCATION['address'];
	init_map();
}

function draw() {
	var restaurantList = REST_LIST;
	var seedName = SEED_RESTAURANT;
	var c=document.getElementById("myCanvas");
	var ctx=c.getContext("2d");

	ctx.canvas.width  = 800;
	ctx.canvas.height = 400;
	var myText= "test me";
	ctx.font = "12px sans-serif";

	ctx.fillText("Worst Fit Results", 10, 10);
	ctx.fillText("Best Fit Results", 10, ctx.canvas.height-10);
	ctx.beginPath();
	ctx.moveTo(20, 20);
	ctx.lineTo(20, ctx.canvas.height-20);
	ctx.stroke();
	ctx.closePath();

	var padding = 50;
	var centerHeight = ctx.canvas.height-padding;
	var centerWidth = ctx.canvas.width/2;

	var minImpact = 10000;
	var maxImpact =0;

	for (var i=0;i<restaurantList.length;i++)
	{ 
		var distWeight = document.getElementById('distValue').value;
		var priceWeight = document.getElementById('priceValue').value;
		var phraseWeight = document.getElementById('phraseValue').value;

		var distImpact = restaurantList[i]["distScore"] * distWeight * 5;
		var priceImpact = restaurantList[i]["priceScore"] * priceWeight * 10;
		var phraseImpact = restaurantList[i]["phraseScore"] * phraseWeight * 10;

		var totalImpact = distImpact + priceImpact +  phraseImpact;

		restaurantList[i]["totalImpact"] = totalImpact

		if (totalImpact > maxImpact) {maxImpact=totalImpact;}
		if (totalImpact < minImpact) {minImpact =totalImpact;}
	}

	var scaler = (centerHeight-50)/(maxImpact - minImpact);

	for (var i=0;i<restaurantList.length;i++)
	{ 
		var elemWidth = padding + ((ctx.canvas.width-padding*2)/(restaurantList.length-1))*i;
		var elemHeight = (restaurantList[i]["totalImpact"]-minImpact)*scaler;

		ctx.beginPath();
		try {
    			ctx.setLineDash([5]);
		} catch (e) {}
		ctx.moveTo(centerWidth,centerHeight);
		ctx.lineTo(elemWidth, elemHeight+35);
		ctx.strokeStyle = '#eee';
		ctx.stroke();

		ctx.fillText(restaurantList[i]["name"], elemWidth-25, elemHeight+25);
	}

	ctx.fillText(seedName, centerWidth-25, centerHeight+10);
}

function clearCanvas () {
	var c=document.getElementById("myCanvas");
	var ctx=c.getContext("2d");
	ctx.clearRect (0, 0, ctx.canvas.width, ctx.canvas.height);
}

function drawViz() {
	clearCanvas()
	draw()
}

function ajaxTest() {
	$(document).ready(function(){
		$("ajaxMe").click(function(){
			alert("TESTing JQuery");
		});
	});
}



</script>


</body>
</html>
